<!doctype html>

<html lang="es">
  <head>
    <title>ISV Solution</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/angular-material.min.css">
  </head>

  <body ng-app="ISVMatrixSolution">
    <!-- Angular UI router -->
    <div ui-view></div>

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-aria.min.js"></script>
    <script src="/js/angular-animate.min.js"></script>
    <script src="/js/angular-messages.min.js"></script>
    <script src="/js/angular-material.min.js"></script>
    <script src="/js/angular-ui-router.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
