.sap-toolbar {
	background-color: #F4F4F4;
	color: #676767;
	border-bottom: 1px #B1B1B1 solid;
	border-top: 3px #009AE5 solid;
}


#app-wrapper, body {
	background-color: #DAEFF3;
}


#instructions {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}


#rules-table {
	width: 100%;
	overflow-x: auto;
}


table, th, td {
	border: 1px solid #808080;
	border-collapse: collapse;
}


th, td {
	padding: 5px;
}


/*#rules-table tr:nth-child(even) {
	background-color: #eee;
}


#rules-table tr:nth-child(odd) {
	background-color: #fff;
}*/


#rules-table tr {
	background-color: #fff;
}


.ColumnHeader {
	background-color: #E5E5E5;
}


.resultColumnHeader {
	background-color: #BFBFBF;
}


.actionsColumnHeader {
	background-color: #B2DFDB;
	width: 172px;
	min-width: 172px;
}


.newColumnDialogContent {
	padding: 40px;
	padding-bottom: 0px;
	padding-top: 20px;
	width: 400px;
}


.SAPDialogContent {
	padding: 0px;
	padding-top: 30px;
	width: 400px;
}


.top-margin {
	margin-top: 30px;
}


#rules-table tr td input {
	text-align: center;
	background-color: transparent;
	border: none;
}


#rules-table tr td {
	padding: 0;
}


#rules-table tr td button {
	margin: 0;
}


.delete-column {
	font-size: 10px;
	cursor: pointer;
	color: red;
}


.sap-button {
	color: black !important;
	background-color: #EAEAEA !important;
	border: 1px solid #a6a6a6 !important;
}

.sap-text {
	color: #077292 !important;
}


.md-dialog-container .md-toolbar-tools {
	background-color: #005B8D;
}


.up-down-space {
	margin-top: 20px;
	margin-bottom: 40px;
}


.dialog-rule-row {
	height: 70px;
}


.dialog-rule-result-row {
	height: 40px;
	margin-bottom: 20px;
}


.input-in-table {
	font-size: 0.6em;
}


#rules-table-container {
	overflow-x: auto;
}


.sap-toolbar-icon {
	width: 50px;
	height: 40px;
	margin-right: 7px;
}

.dialog-text {
	margin-bottom: 30px;
}


.confia-toolbar-icon {
	height: 40px;
	width: 137px;
	margin-right: 16px;
}