<md-toolbar>
	<div class="md-toolbar-tools">
		<h2><span>Editor De Reglas - Matriz de Impuestos CONFIA</span></h2>
		<span flex></span>
	</div>
</md-toolbar>


<div layout="row" layout-padding>
	<span flex></span>
	<p id="instructions" flex="70">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et elit auctor risus finibus egestas non ac dui. Sed et dui id felis tristique luctus. Donec iaculis efficitur odio vitae interdum. Donec ullamcorper odio at ante cursus, vitae congue leo commodo. Fusce accumsan lacinia mi sed semper. Donec interdum semper eros, ac semper neque vehicula nec. Curabitur et gravida diam. Duis posuere velit et diam faucibus tincidunt.</p>
	<span flex></span>
</div>


<div layout="row" layout-align="center">
	<md-button class="md-raised md-primary" ng-click="homeCtrl.newColumnDialog($event)">Agregar Columna</md-button>
</div>


<div layout="row" layout-padding>
	<span flex></span>  
	

	<table flex="70" id="rules-table" class="top-margin">
		<tr>
			<th ng-repeat="(title, value) in homeCtrl.rules[0].columns">{{title}}</th>
			<th ng-repeat="(title, value) in homeCtrl.rules[0].result">{{title}}</th>
			<th>Acciones</th>
		</tr>
		<tr ng-repeat="(index, rule) in homeCtrl.rules track by $index">
			<td contenteditable ng-repeat="column in rule.columns">{{column}}</td>
			<td contenteditable ng-repeat="result in rule.result">{{result}}</td>
			<td>
				<md-button md-no-ink class="md-primary" ng-click="homeCtrl.copyRule(index, rule)">Copiar</md-button>
				<md-button class="md-warn" ng-click="homeCtrl.deleteRule(index)">Borrar</md-button>
			</td>
		</tr>
	</table>


	<span flex></span>
</div>